.best {
    background: url(../img/bg/bg.jpg);
    background-position: center center;
    background-attachment: no-repeat;    
    background-size: cover;
    position: relative;


    .container {
       position: relative;
      top: 50%;
      @include transform(translateY(-50%));
      text-align: center;
    }
}


// .best__list {
//     font-size: 0;
// }

.best__item {
    display: inline-block;
    vertical-align: top;
    width: 33%;
}

.best__icon {
    position: relative;
    display: inline-block;  
    height: 100px;
    width: 100px;
}

.best__title {
    margin-bottom: 20px;  
    font-size: 24px;
    @include fira('Lifehack-Medium'); 
    color: #2f3234;
}