.start {
    background: url(../img/bg/first-screen.jpg);
    background-position: center center;
    background-attachment: no-repeat;
    background-size: cover;
    position: relative;
    
    .container {
      position: static;
    }

    &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: url(../img/bg/first-screen-texture.png);      
    }
}

.start__burger {
    display: inline-block;
    float: left;
    width: 50%;
    position: relative;
    left: 14px;
    top: -7px;
}

.start__content {
  vertical-align:middle;
  @extend %clearfix;  
}

.start__img {
    width: 100%;
}

.start__text {
    position: relative;
    display: inline-block;
    float: left;
    width: 50%;
    padding-top: 129px;
    padding-left: 7px;

}

.section__title {
    margin-bottom: 24px;    
    @include fira('Gagalin-Regular');
    color: $color_yellow;
    font-size: 72px; 
    line-height: 1em;        
}

.section__title_black {
  color: #000;
}

.start__container {
    text-align: center;

  .container {
    padding-top: 10vh;
  }
} 
.start__container 

.start__desc {
    font-size: 63px;
    color: #fff;
    @include fira('Lifehack-Medium');    
    text-transform: lowercase;
    line-height: 1em; 
}

.arrow-scroll {
    display: inline-block;
    position: relative;
    margin-top: 26px;
    cursor: pointer;
    z-index:1000;
}