.team {
    position: relative; 
    background: url(../img/bg/SBS_1255-X2.jpg) 50% no-repeat;
    background-size: cover;

    .section__title {
      margin-bottom: 12%;
    }
}

.team__section {
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;   
    padding: 5% 2% 0% 7%;    
    background: rgba(0, 0, 0, 0.5);
}

.section__title {
    margin-bottom: 12px;  
    color: $color_yellow;
    @include fira('Gagalin-Regular');     
    font-size: 72px;
}

.team-acco__item {
    margin-bottom: 39px;
}

.team-acco__trigger {
    position: relative;
    display: block;  
    @include fira('Gagalin-Regular');    
    color: #fff;
    font-size: 14px;
    margin-bottom:14px;

    &::before {
      content: '';
      position: absolute;
      top: 7px;
      left: -20px;      
      border-top: 7px solid $color_yellow;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 0px solid transparent;
      @include transform(rotate(0deg)); 
      @include transition(.5s);          
    }

    &.active::before {
      @include transform(rotate(-90deg));         
    }
}


.team-acco__content {
    height:0;
    overflow:hidden;
    @include transition(.5s);  
    opacity:0;    
    @extend %clearfix; 
}


.team-acco__wrap {
    @extend %clearfix;     
}

.team-acco__pic {
    float: left;
    text-align: center;
    width: 30%;

}

.team-acco__img {
    display: inline-block;
    width: 100px;
    height: 100px;
    vertical-align: top;    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @include border_radius(50%);
}

.team-acco__text {
    float: left;
    width: 70%;
   
}

.team-acco__title {
    margin-bottom: 14px;  
    @include fira('Ubuntu-Medium');    
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

.team-acco__text-content {
    @include fira('Ubuntu-Light'); 
    color: #fff;
    font-size: 14px;
}



